@import "panel-text-color-black.css";

body{
	background-color: hsl(0, 0%, 87%);
}
header, footer, input[type=number], select{
	background-color: hsl(0, 0%, 74%);
}
#deleteStreamTooltip{
	background-color: hsla(0, 0%, 74%, 0.95);
}
header button, button, .item-stream{
	background-color: hsl(0, 0%, 81%);
}
input[type=range]::-webkit-slider-thumb{
	background-color: hsl(0, 0%, 81%);
}
input[type=range]::-moz-range-thumb{
	background-color: hsl(0, 0%, 81%);
}
input[type=range]::-webkit-slider-runnable-track{
	background-color:hsl(0, 0%, 74%);
}
input[type=range]::-moz-range-track{
	background-color:hsl(0, 0%, 74%);
}

/*				---- Box shadow ----				*/
header, .item-stream, footer{
	box-shadow: 0 0 5px 0 hsl(0, 0%, 87%);
}
