/*			---- Primary text / Icons ----			*/
body, header button, button, input[type='number'], input[type='checkbox'], input[type='radio'], select, #streamOnlineCountLabel, #streamOfflineCountLabel, #deleteStreamTooltip, #searchInputContainer, #searchInput{
	color: #FFFFFF;
	color: rgba(0, 0, 0, 0.8);
}
select:hover{
	color:unset !important;
}
/*		--- Secondary text / Base Color ----		*/
.item-stream, .item-stream .streamTitle, .item-stream .streamStatus, .item-stream .streamCurrentViewers/*, #current_version*/{
	color: #FFFFFF;
	color: rgba(0, 0, 0, 0.5);
}
#deleteStream.active{
	text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
/*			---- Disabled / Hint text ----			*/
footer{
	color: #FFFFFF;
	color: rgba(0, 0, 0, 0.4);
}
/*			---- Stream Title / Links ----			*/
a{
	color: #0062BD;
	color: rgba(50, 159, 255, 0.8);
}

input:invalid {
	background-color: lightpink;
	color: red;
	font-weight: 700;
}

#patreonlogo{
	background-image: url("/data/images/Patreon_Logo_Black.png");
}
