html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	/*font-family: 'Roboto', sans-serif;*/
	font-weight: 300;
}
body {
	margin: 0px;
	/*padding: 5px;*/
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #303030;
}
header {
	display: flex;
	flex-direction: row;
	padding: 5px 5px;
	background-color: #212121;
	box-shadow: 0px 0px 5px 0px #212121;
}
header button {
	height: 36px;
	min-width: 64px;
	padding: 0px 8px;
	border: 0px none;
	border-radius: 1px;
	margin-left: 5px;
	background: #4A4A4A;
	color: #FFFFFF;
	font-weight: 700;
}
#vide {
	flex: 1;
}
.hide{
	display: none !important;
	visibility: hidden !important;
}
#steamList {
	overflow: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 1em;
	font-size: 0.90em;
}
#streamOnlineCountLabel, #streamOfflineCountLabel{
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
}
.item-stream {
	max-height: 5.3em;
	margin: 0.5em 0px;
	padding: 1em;
	background: #424242 no-repeat 3px center;
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.8);
	/*flex-grow: 1;*/
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	box-shadow: 0px 0px 5px 0px #212121;
}
.item-stream:not(.streamLogo){
	padding-left: 35px;
	background-size: auto 30px;
}
.item-stream.streamLogo{
	padding-left: 4.2em;
	background-size: 3.5em auto;
}
.item-stream.onlineItem .streamTitle{
	padding-left: 0.6em;
	font-size: 1.1em;
}
.item-stream.streamLogo .streamTitle::before{
	transform: scale(0.21);
	height: 0px;
	z-index: 10;
	display:block;
	position: relative;
	/*left: -4.9em;*/
	left: -84px;
	top: -1em;
}
.item-stream.streamLogo.onlineItem .streamTitle::before{
	content: url("online-stream.svg");
}
.item-stream.streamLogo.offlineItem .streamTitle::before{
	left: -77px;
	content: url("offline-stream.svg");
}
.item-stream.onlineItem:not(.streamLogo) {
	background-image: url("online-stream.svg");
}
.item-stream.offlineItem:not(.streamLogo) {
	background-image: url("offline-stream.svg");
}
.item-stream > span{
	display: block;
}
.item-stream > span.streamStatus{
	max-height: 3.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}
#streamListOnline, #streamListOffline{
	margin-top: 2px;
	margin-bottom: 2px;
}
#streamListOnline > div, #streamListOffline > div{
	margin-top: 4px;
	margin-bottom: 4px;
}
.item-stream a{
	font-weight: bold;
}
a {
	color: #0062BD;
	color: rgba(50, 159, 255, 0.8);
}
.item-stream h1 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}
.item-stream p {
	margin: 0px;
	padding: 0px;
	max-height: 2.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}
footer {
	white-space: pre-line;
	background-color: #212121;
	color: #FFFFFF;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	font-size: 0.8em;
	box-shadow: 0px 0px 5px 0px #212121;
}
