html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-weight: 300;
}
body {
	margin: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
header {
	display: flex;
	flex-direction: row;
	padding: 5px 5px;
}
header button {
	height: 36px;
	min-width: 64px;
	padding: 0px 8px;
	border: 0px none;
	border-radius: 1px;
	margin-left: 5px;
	font-weight: 700;
}
#vide, .vide {
	flex: 1;
}
.hide{
	display: none !important;
	visibility: hidden !important;
}
.cursor{
	cursor: pointer;
}
#steamList {
	overflow: auto;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	padding: 1em;
	font-size: 0.90em;
}
#streamOnlineCountLabel, #streamOfflineCountLabel{
	margin: 0px;
	padding: 0px;
}
.item-stream {
	max-height: 5.3em;
	margin: 0.5em 0px;
	padding: 1em;
	background: #424242 no-repeat 3px center;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}
.item-stream .streamTitle{
	font-weight: bold;
}
.item-stream:not(.streamLogo){
	padding-left: 35px;
	background-size: auto 30px;
}
.item-stream.streamLogo{
	padding-left: 4.2em;
	background-size: 3.5em auto;
}
.item-stream .streamTitle{
	font-size: 1.1em;
}
.item-stream.streamLogo .streamTitle{
	position: relative;
	left: -15px;
	top: -5px;
}
.item-stream .streamCurrentViewers{
	position: relative;
	right: -10px;
	top: -3px;
	float: right;
	text-align: right;
	font-size: 0.9em;
	font-weight: normal;
}
.item-stream .viewerCountLogo{
	height: 0.9em;
	padding-left: 0.2em;
}
.item-stream.streamLogo .streamStatus{
	position: relative;
	top: -5px;
}
.item-stream .streamTitle img.streamStatusLogo{
	height: 21px;
	position: relative;
}
.item-stream.onlineItem:not(.streamLogo) {
	background-image: url("online-stream.svg");
}
.item-stream.offlineItem:not(.streamLogo) {
	background-image: url("offline-stream.svg");
}
.item-stream > span{
	display: block;
}
.item-stream > span.streamStatus{
	max-height: 3.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}
#streamListOnline, #streamListOffline{
	margin-top: 2px;
	margin-bottom: 2px;
}
#streamListOnline > div, #streamListOffline > div{
	margin-top: 4px;
	margin-bottom: 4px;
}
.item-stream a{
	font-weight: bold;
}
.item-stream h1 {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}
.item-stream p {
	margin: 0px;
	padding: 0px;
	max-height: 2.7em;
	overflow: hidden;
	text-overflow: ellipsis;
}
footer {
	white-space: pre-line;
	text-align: center;
	font-size: 0.8em;
}
